services:
  - type: web
    name: intervue-frontend
    env: static
    buildCommand: npm install && npm run build
    staticPublishPath: ./dist
    envVars:
      - key: VITE_API_BASE_URL
        value: https://intervue-backend-xxaf.onrender.com